.peque{
	width: 25%;
	height: 100px;
	float:right;
}
.contiene{
	border:1px solid black;
	width:75%;
}
.yellow{ background-color: yellow; }
.blue{ background-color: blue; }
.red{ background-color: 	red; }